///*------------------------------------*\
//    # GEL TYPOGRAPHY - TEST
//\*------------------------------------*/

// Include general GEL dependancies
@import '../node_modules/gel-sass-tools/sass-tools';
@import '../node_modules/sass-mq/mq';


// Lets declare a few varaibles to test the output
$gel-type-enable--markup-output: true !default;


// Import the typography component
@import '../typography';


// Lets test our mixin
.my-component {
	@include gel-typography('pica');
}

.my-component__title {
	@include gel-typography('canon-bold');
}
