/*------------------------------------*\
    #SETTINGS
\*------------------------------------*/

// general configuration
$gel-type-namespace: 'gel-' !default;
$gel-type-touch-class: 'no-touch' !default;
$gel-type-base-group: 'group-a';
$gel-type-no-touch-group: 'group-d';

// output configuration
$gel-type-enable-rem-output: true !default;
$gel-type-enable-markup-output: true !default;
$gel-type-enable-font-family: false !default;
$gel-type-enable-base-elements: false !default;

// default GEL typography configuration
$gel-type-settings: (
    'trafalgar': (
        'group-a': (
          'font-size': 20px,
          'line-height': 24px,
          '-bold': (
              'font-weight': bold,
              'letter-spacing': -1px
          )
        ),
        'group-b': (
          'font-size': 24px,
          'line-height': 28px
        ),
        'group-c': (
          'font-size': 36px,
          'line-height': 40px
        ),
        'group-d': (
          'font-size': 32px,
          'line-height': 32px
        )
    ),
    'double-pica': (
        'group-a': (
          'font-size': 20px,
          'line-height': 24px,
          '-bold': (
              'font-weight': bold,
              'letter-spacing': -1px
          )
        ),
        'group-c': (
          'font-size': 28px,
          'line-height': 32px
        ),
        'group-d': (
          'font-size': 24px,
          'line-height': 24px
        )
    ),
    'great-primer': (
        'group-a': (
          'font-size': 18px,
          'line-height': 20px,
          '-bold': (
              'font-weight': bold
          )
        ),
        'group-b': (
          'font-size': 20px,
          'line-height': 24px,
          '-bold': (
              'letter-spacing': -1px
          )
        ),
        'group-c': (
          'font-size': 24px,
          'line-height': 28px
        ),
        'group-d': (
          'font-size': 20px,
          'line-height': 20px
        )
    ),
    'pica': (
        'group-a': (
          'font-size': 15px,
          'line-height': 20px,
          '-bold': (
              'font-weight': bold
          )
        ),
        'group-b': (
          'font-size': 16px,
          'line-height': 22px
        ),
        'group-c': (
          'font-size': 18px,
          'line-height': 24px
        ),
        'group-d': (
          'font-size': 16px,
          'line-height': 22px
        )
    ),
    'long-primer': (
        'group-a': (
          'font-size': 15px,
          'line-height': 18px,
          '-bold': (
              'font-weight': bold
          )
        ),
        'group-b': (
          'font-size': 16px,
          'line-height': 20px
        ),
        'group-c': (
          'line-height': 22px
        ),
        'group-d': (
          'font-size': 14px,
          'line-height': 18px
        )
    ),
    'brevier': (
        'group-a': (
          'font-size': 14px,
          'line-height': 16px,
          '-bold': (
              'font-weight': bold
          )
        ),
        'group-d': (
          'font-size': 13px
        )
    ),
    'minion': (
        'group-a': (
          'font-size': 12px,
          'line-height': 16px,
          'text-transform': uppercase,
          '-bold': (
              'font-weight': bold
          )
        ),
        'group-c': (
          'font-size': 13px
        ),
        'group-d': (
          'font-size': 12px
        )
    )
) !default;

// add the typography breakpoints to the list of exisiting
// breakpoints if Sass Mq is available
@if mixin-exists(mq) {

    $mq-breakpoints: mq-add-breakpoint(gel-type-group-b, 320px) !global;
    $mq-breakpoints: mq-add-breakpoint(gel-type-group-c, 600px) !global;

}
