/*------------------------------------*\
    #GLOBAL
\*------------------------------------*/

/**
 * Generic page wrapper
 *
 * 1. Al wanted some ghost columns but as its effecting the entire page
 *    I thought this might be easier
 */
.wrap {
    max-width: 826px; /* [1] */
    margin: 0 auto;
    @include rem('padding', $gel-spacing-unit);

    @include mq($from: $gel-margin-change) {
        @include rem('padding', $gel-spacing-unit double($gel-spacing-unit));
    }
}

// Header styles
.bbc-brand {
    display: block;
}

.gel-brand {
    display: block;
}

.global-header__title {
    @include rem('font-size', 40px);
    font-weight: bold;
    @include rem('letter-spacing', -1px);
}
