/*------------------------------------*\
    #DEVICE STATUS
\*------------------------------------*/

/**
 * 1. Remove the margin from the last item
 */
.device-status {
    position: relative;

    @include rem('margin', 0 -$gel-spacing-unit);
    @include rem('padding', $gel-spacing-unit);

    background-color: $gel-orange;
    color: #fff;

    @include mq($from: $gel-margin-change) {
        @include rem('margin', 0 double(-$gel-spacing-unit));
        @include rem('padding', double($gel-spacing-unit));
    }

    @include mq($from: gel-bp-wide) {
        margin: 0;
    }

    > :last-child {
        margin-bottom: 0; /* [1] */
    }
}

.device-status__toggle-controls {
    position: absolute;
    bottom: $gel-spacing-unit;
    right: $gel-spacing-unit;

    @include mq($from: $gel-margin-change) {
        bottom: double($gel-spacing-unit);
        right: double($gel-spacing-unit);
    }
}

.device-status__mode-toggle {
    padding: 0;
    border: 0;
    outline: 0;

    color: #fff;

    background: none;

    &:focus,
    &:hover {
        text-decoration: underline;
    }
}

.device-status__mode-toggle--bold {
    display: inline-block;
}

.device-status__mode-toggle--touch {
    display: none;

    @include mq($from: gel-bp-medium) {
        display: inline-block;
        @include rem('margin-left', $gel-spacing-unit);
    }
}

/**
 * Change the group name based on the current media-query
 */
.device-status__group-name {
    &:after {
        content: 'Group A (0 - 319px)';
    }

    @include mq($from: gel-bp-type-b) {
        &:after {
            content: 'Group B (320px - 599px)';
        }
    }

    @include mq($from: gel-bp-type-c) {
        &:after {
            content: 'Group C (600+, Touch available)';
        }

        .no-touch &:after {
            content: 'Group D (600+, Touch not available)';
        }
    }
}

/**
 * Change the example device based on the current media-query
 */
.device-status__example-device {
    &:after {
        content: 'Feature Phones';
    }

    @include mq($from: gel-bp-type-b) {
        &:after {
            content: 'Default & Smart Phones';
        }
    }

    @include mq($from: gel-bp-type-c) {
        &:after {
            content: 'Typically Tablet Devices';
        }

        .no-touch &:after {
            content: 'Typically Desktop or Laptop Screens';
        }
    }
}
