/*------------------------------------*\
    #DEFAULTS
\*------------------------------------*/

// Defaults at the top level configuration variables which effect the entire demo page

// If you want to add variables which relate specific to the demo then do this in a
// seperate settings parital

// High-level base settings
$gel-base-font-size: 16px !default;
$gel-base-line-height: 24px !default;
$gel-base-background-color: #fff     !default;
$gel-base-text-color: #333 !default;


// Spacing unit
$gel-spacing-unit: 8px !default;


// GEL responsive guidelines redefines a number of a major breakpoints which
// we work to. These are given non-device specific names for referance
$gel-breakpoints: (
    gel-bp-compact: 240px,
    gel-bp-small:   400px,
    gel-bp-medium:  600px,
    gel-bp-wide:    900px
);


// The GEL grid system uses a combination of fluid columns and fixed gutters
// and margins. The size of the gutters and margins changes at
// specific breakpoints
$gel-margin-change: gel-bp-small;
$gel-gutter-change: gel-bp-medium;


// Some core colours
$gel-orange: #f59331;


// We use the Sass Mq mixin so need to map our list of variables with their list
$mq-breakpoints: $gel-breakpoints;
$mq-static-breakpoint: gel-bp-wide;

// We're using a few inuit components that require some default settings
$inuit-base-spacing-unit: $gel-spacing-unit;
$inuit-namespace: '';
