/*------------------------------------*\
    #WIDTHS
\*------------------------------------*/

/**
 * We need to map our grid namespaces to the relivant breakpoints
 */
$gel-grid-map: (
    cm: gel-bp-compact,
    sm: gel-bp-small,
    md: gel-bp-medium,
    wd: gel-bp-wide
);

/**
 * Create our width placeholders, prefixed by the specified namespace.
 * The good things about using placeholders is only the required
 * placeholders will be compiled making our stylesheet nice and effective
 */
@mixin gel-grid-widths($namespace:'') {

    /**
     * Whole
     */
    .#{$namespace}one-whole         { width: 100%; }

    /**
     * Halves
     */
    .#{$namespace}one-half          { width: 50%; }

    /**
     * Thirds
     */
    .#{$namespace}one-third         { width: 33.3333333%; }
    .#{$namespace}two-thirds        { width: 66.6666666%; }

    /**
     * Quarters
     */
    .#{$namespace}one-quarter       { width: 25%; }
    .#{$namespace}two-quarters      { @extend .#{$namespace}one-half; }
    .#{$namespace}three-quarters    { width: 75%; }

    /**
     * Fifths
     */
    .#{$namespace}one-fifth         { width: 20%; }
    .#{$namespace}two-fifths        { width: 40%; }
    .#{$namespace}three-fifths      { width: 60%; }
    .#{$namespace}four-fifths       { width: 80%; }

    /**
     * Sixths
     */
    .#{$namespace}one-sixth         { width: 16.6666666%; }
    .#{$namespace}two-sixths        { @extend .#{$namespace}one-third; }
    .#{$namespace}three-sixths      { @extend .#{$namespace}one-half; }
    .#{$namespace}four-sixths       { @extend .#{$namespace}two-thirds; }
    .#{$namespace}five-sixths       { width: 83.3333333%; }

    /**
     * Ninths
     */
    .#{$namespace}four-ninths       { width: 44.444444444%; }
    .#{$namespace}five-ninths       { width: 55.555555556%; }

    /**
     * Eighths
     */
    .#{$namespace}one-eighth        { width: 12.5%; }
    .#{$namespace}two-eighths       { @extend .#{$namespace}one-quarter; }
    .#{$namespace}three-eighths     { width: 37.5%; }
    .#{$namespace}four-eighths      { @extend .#{$namespace}one-half; }
    .#{$namespace}five-eighths      { width: 62.5%; }
    .#{$namespace}six-eighths       { @extend .#{$namespace}three-quarters; }
    .#{$namespace}seven-eighths     { width: 87.5%; }

    /**
     * Tenths
     */
    .#{$namespace}one-tenth         { width: 10%; }
    .#{$namespace}two-tenths        { @extend .#{$namespace}one-fifth; }
    .#{$namespace}three-tenths      { width: 30%; }
    .#{$namespace}four-tenths       { @extend .#{$namespace}two-fifths; }
    .#{$namespace}five-tenths       { @extend .#{$namespace}one-half; }
    .#{$namespace}six-tenths        { @extend .#{$namespace}three-fifths; }
    .#{$namespace}seven-tenths      { width: 70%; }
    .#{$namespace}eight-tenths      { @extend .#{$namespace}four-fifths; }
    .#{$namespace}nine-tenths       { width: 90%; }

    /**
     * Twelfths
     */
    .#{$namespace}one-twelfth       { width: 8.3333333%; }
    .#{$namespace}two-twelfths      { @extend .#{$namespace}one-sixth; }
    .#{$namespace}three-twelfths    { @extend .#{$namespace}one-quarter; }
    .#{$namespace}four-twelfths     { @extend .#{$namespace}one-third; }
    .#{$namespace}five-twelfths     { width: 41.6666666%; }
    .#{$namespace}six-twelfths      { @extend .#{$namespace}one-half; }
    .#{$namespace}seven-twelfths    { width: 58.3333333%; }
    .#{$namespace}eight-twelfths    { @extend .#{$namespace}two-thirds; }
    .#{$namespace}nine-twelfths     { @extend .#{$namespace}three-quarters; }
    .#{$namespace}ten-twelfths      { @extend .#{$namespace}five-sixths; }
    .#{$namespace}eleven-twelfths   { width: 91.6666666%; }

    /**
     * Sixteenths
     */
    .#{$namespace}five-sixteenths   { width: 31.25%; }
    .#{$namespace}seven-sixteenths  { width: 43.75%; }

    /**
     * Nineteenths
     */
    .#{$namespace}five-nineteenths   { width: 26.315789474%; }
    .#{$namespace}nine-nineteenths   { width: 47.368421053%; }

    /**
     * Twentieths
     */
    .#{$namespace}one-twentieth     { width: 5%; }
    .#{$namespace}three-twentieths  { width: 15%; }
    .#{$namespace}seven-twentieths  { width: 35%; }
    .#{$namespace}nine-twentieths   { width: 45%; }
    .#{$namespace}eleven-twentieths { width: 55%; }

    /**
     * Twenty Forths
     */
    .#{$namespace}one-twenty-forth  { width: 4.1666666%; }
    .#{$namespace}five-twenty-fourths  { width: 20.833333333%; }
    .#{$namespace}seven-twenty-fourths  { width: 29.166666667%; }
    .#{$namespace}eleven-twenty-fourths  { width: 45.833333333%; }
    .#{$namespace}nineteen-twenty-fourths  { width: 79.166666667%; }

}

/**
 * The grid setup mixin creates the inital grid placeholders then
 * loops through each breakpoint and creates all the placeholders
 * needed for our grid system.
 */
@mixin gel-grid-setup() {
    @include gel-grid-widths;

    @each $grid-bp-referance, $grid-bp-name in $gel-grid-map {
        @include mq($from: $grid-bp-name) {
            @include gel-grid-widths('#{$grid-bp-referance}--');
        }
    }
}

// build the grid
@include gel-grid-setup();
